<a href="https://colab.research.google.com/github/AKHIL-882/Mini-Project/blob/main/Mini_Project_2_0%20-%20Using%20Speech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1.1 User Speech as Input**

In [ ]:
from speech_recognition import Microphone, Recognizer, AudioFile

rec = Recognizer()
mic = Microphone()

with mic:
    print("Talk Now")
    audio = rec.record(mic, 5)

recognized = rec.recognize_google(audio)
print("You said : ", recognized)

### **1.2 Optional Case**

In [91]:
# As the speech is not working in colab, I have took a dummy speech"
recognized = "Please! tell me the cost of 1xt-shirt"

### **1.3 Converting Speech into token of array values**

In [92]:
arr = recognized.split()
print(arr)

['Please!', 'tell', 'me', 'the', 'cost', 'of', '1xt-shirt']

### **1.4 Converting the image data in to array**

In [93]:

#here L is the sample declaration of image data -  later I will merge
l = ['Eeee', '4*444#44*', '4+444444', 'RECEIPT', '4444=', 'Terrinali]', '01-02-2018', 'I1,32AM', '1xT-Shirt', '525.50', '1x Watches', '5299.00', '1x Pants', '532.99', 'Ix Socks', '56.50', 'TOTAL AMOUNT', '5363.99', 'CASH', 'S400.00', 'CHANGE', '536.01', 'Bank Card', '7211', 'Approvaltt', '192107', '##rrta', 'THANK YOUI', '#iaiiriie']
import numpy as np
my_array = np.asarray(l)

for i in range(len(my_array)):
   my_array[i] = my_array[i].lower()


print(my_array)
print(type(my_array))

['eeee' '4*444#44*' '4+444444' 'receipt' '4444=' 'terrinali]' '01-02-2018'
 'i1,32am' '1xt-shirt' '525.50' '1x watches' '5299.00' '1x pants' '532.99'
 'ix socks' '56.50' 'total amount' '5363.99' 'cash' 's400.00' 'change'
 '536.01' 'bank card' '7211' 'approvaltt' '192107' '##rrta' 'thank youi'
 '#iaiiriie']
<class 'numpy.ndarray'>

### **1.5 Removing White spaces from the element values of Receipt**

In [94]:
my_array1 = []
for i in my_array:
    j = i.replace(' ','')
    my_array1.append(j)

print(my_array1)

['eeee', '4*444#44*', '4+444444', 'receipt', '4444=', 'terrinali]', '01-02-2018', 'i1,32am', '1xt-shirt', '525.50', '1xwatches', '5299.00', '1xpants', '532.99', 'ixsocks', '56.50', 'totalamount', '5363.99', 'cash', 's400.00', 'change', '536.01', 'bankcard', '7211', 'approvaltt', '192107', '##rrta', 'thankyoui', '#iaiiriie']

### **1.6 Finding the match case and printing the output**

In [97]:
for i in range(0,len(my_array)):
  for j in range(0,len(arr)):
    if(arr[j] == my_array[i]):
      print("match")
      val = arr[j]
      count = 0
      for i in my_array:
        count+=1
        if(i == val):
          print("The overall cost of " + val + " is:  " + my_array[count])
      break;
      if(i==len(arr)):
        i=0;
      if(j==len(my_array)):
        j=0;

match
The overall cost of 1xt-shirt is:  525.50